
body, html{
	font-family: 'Roboto', sans-serif;
	background-color: #303030;
	padding: 5px;
}

.arrows {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.arrow{color: #E0E0E0;visibility: hidden;}

.row {
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

.col {
	width: calc(100% / 3);
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

.arrow {
	width:0;
	height:0;
	border-left: 100px;

}

#up{
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 25px solid #E2E2E2;
}

#down{
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 25px solid #E2E2E2;
}

#left{
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-bottom: 100px solid transparent;
	border-right: 25px solid #E2E2E2;
}

#right{
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-bottom: 100px solid transparent;
	border-left: 25px solid #E2E2E2;
}
}


