/* Generic UI Elements */
@import "colors", "dimensions";

.btn {
	display: inline-flex;
	align-items: center;
	border: {
		radius: $radius;
	}
	text: {
		decoration: none;
		transform: uppercase;
	}
	transition: box-shadow 50ms ease-out;
	vertical-align: middle;
	color: $txt-primary;
	min-width: $btn-min-width;
	height: $btn-height;
	background: {
		color: $dt-main;
	}
	padding: $btn-padding;
	margin: $btn-margin;
	box-shadow: 0px 1px 1px $dt-status-bar;

	&:hover {
		box-shadow: 0px 2px 2px $dt-status-bar;
	}

	&:focus{
		box-shadow: 0px 4px 4px $dt-status-bar;
	}
	span {
		margin:{
			left: 8px;
		}
	}
}

.card {
	display:inline-flex;
	flex:{
		direction: column;
		wrap: nowrap;
	}
	padding: $crd-padding;
	background:{
		color: $dt-cards;
	}
	border:{
		radius: $radius;
	}
	box-shadow: 0px 2px 2px $dt-status-bar;
	text-align:center;
}
