@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "colors", "dimensions", "elements";

html {
	height: 100%;
	font:{
		family: 'Roboto', sans-serif;
	}
	background:{
		color: $dt-background;
	}
	display:flex;
		flex:{
			direction: column;
			wrap: nowrap;
		}
	justify-content: center;
	align-items: center;
	body{
		nav {
			section{
				color: $txt-secondary;
				h4{
					color: $txt-primary;
				}
				li{
				text-align: initial;
				}
			}
			ul {
				text-align: center;
				display: flex;
				flex:{
					direction: row;
					wrap: wrap;
				}
				justify-content: space-around;
				align-items: space-around;
				list-style: none;
				padding: 0;
				margin: 0;
			}
		}
	}
}
